node_modules/

.env
sampleDatas
client/dist/about-bundle.js
client/dist/about-bundle-server.js

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

*Plot.html

newrelic.js
newrelic_agent.log

hello.yml
*.txt

dump.rdb